name: Release

on:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          version-file: pyproject.toml
          resolution-strategy: lowest

      - name: Build package
        run: uv build
        shell: bash

      - name: Publish to PyPI
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
        shell: bash
